{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>
<h1>My To Do List {{count}}</h1>

<a href="{% url 'task-create' %}">Add task</a>

<form method="GET">
    <!-- no CSRF token needed, since not a POST request -->
    <input type="text" name="search_area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Items</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <input type="checkbox" name="task_complete" value="{{ task.id }}" {% if task.complete %}checked{% endif %}>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</table> 
